<a href="https://colab.research.google.com/github/WijdanMohammed/oop-project/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple Method** **:**

Create a tuple

In [6]:
thistuple = ("anuva", "wijdan", "ifti")
print(thistuple)

('anuva', 'wijdan', 'ifti')

*Allow Duplicates:*

In [7]:
thistuple = ("anuva", "wijdan", "ifti", "anuva", "ifti")
print(thistuple)

('anuva', 'wijdan', 'ifti', 'anuva', 'ifti')

*Tuple Length:*

In [8]:
thistuple = ("anuva", "wijdan", "ifti")
print(len(thistuple))

3

*Create Tuple With One Item:*

In [14]:
thistuple = ("anuva",)
print(thistuple)
#NOT a tuple
thistuple = ("anuva")
print(thistuple)

('anuva',)
anuva

*Negative Indexing:*

In [16]:
thistuple = ("anuva", "wijdan", "ifti")
print(thistuple[-1])

ifti

*Access Tuple Items:*

In [17]:
thistuple = ("anuva", "wijdan", "ifti")
print(thistuple[1])

wijdan

*Range of Indexes:*

In [19]:
thistuple = ("anuva", "wijdan", "ifti", "rayhan", "zakia", "rakib", "preoti")
print(thistuple[2:5])

('ifti', 'rayhan', 'zakia')

*count:*

In [21]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(6)
print(x)

1

*index*

In [22]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

**Set Method:**

*add:*

In [23]:
thisset = {"anuva", "wijdan", "ifti"}
thisset.add("rayhan")
print(thisset)

{'wijdan', 'ifti', 'anuva', 'rayhan'}

*remove:*

In [24]:
thisset = {"anuva", "wijdan", "ifti"}
thisset.remove("ifti")
print(thisset)

{'wijdan', 'anuva'}

*Loop:*

In [25]:
thisset = {"anuva", "wijdan", "ifti"}
for x in thisset:
 print(x)

wijdan
ifti
anuva

*clear:*

In [26]:
thisset = {"anuva", "wijdan", "ifti"}
thisset.clear()
print(thisset)

set()

*discard:*

In [27]:
thisset = {"anuva", "wijdan", "ifti"}
thisset.discard("wijdan")
print(thisset)

{'ifti', 'anuva'}

*pop:*

In [29]:
thisset = {"anuva", "wijdan", "ifti"}
thisset.pop()
print(thisset)

{'ifti', 'anuva'}

*symmetric_difference*

In [30]:
x = {"anuva", "wijdan", "ifti"}
y = {"CSE", "FDT", "anuva"}

z = x.symmetric_difference(y)
print(z)

{'CSE', 'wijdan', 'FDT', 'ifti'}

*update:*

In [31]:
x = {"anuva", "wijdan", "ifti"}
y = {"CSE", "FDT", "anuva"}

x.update(y)
print(x)

{'CSE', 'wijdan', 'FDT', 'ifti', 'anuva'}

*difference:*

In [32]:
x = {"anuva", "wijdan", "ifti"}
y = {"CSE", "FDT", "anuva"}

z = x.difference(y)
print(z)

{'wijdan', 'ifti'}