<a href="https://colab.research.google.com/github/WijdanMohammed/oop-project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def remove_even_numbers(lst):

    return [num for num in lst if num % 2 != 0]

# Example:
numbers = [11, 22, 33, 44, 15, 86, 7, 78, 49, 10]
result = remove_even_numbers(numbers)
print(result)

[11, 33, 15, 7, 49]

In [9]:
def union(Set1, Set2):

    return Set1.union(Set2)

# Example:
Set1 = {30, 40, 50, 60}
Set2 = {60, 70, 80, 90}
result = union(Set1, Set2)
print("Union of Set1 and Set2:", result)

Union of Set1 and Set2: {70, 40, 80, 50, 90, 60, 30}

In [12]:
def merge_dicts(Dict1, Dict2):

    merged_dict = Dict1.copy()
    merged_dict.update(Dict2)
    return merged_dict

# Example:
Dict1 = {'a': 1, 'b': 2, 'c': 3}
Dict2 = {'b': 5, 'c': 6, 'd': 7}
merged_dict = merge_dicts(Dict1, Dict2)
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 5, 'c': 6, 'd': 7}

In [11]:
def factorial_iterative(n):

    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

# Example:
number = int(input("Enter a number: "))
result = factorial_iterative(number)
print("Factorial of", number, ":", result)

Enter a number: 23
Factorial of 23 : 25852016738884976640000